.color-name1 {
  background: #173446;
}
.color-name2 {
  background-color: #c5c5fe;
}
.color-name3 {
  background-color: #aeebdd;
}
.color-name4 {
  background-color: #fddab2;
}
.color-name5 {
  background: linear-gradient(#141e30, #243b55);
}
.color-name6 {
  background-color: #20334b;
}
.color-name7 {
  background-color: #ffffff;
}
.color-name8 {
  background-color: #464062;
}
.color-name9 {
  background-color: #eec390;
}
.color-name10 {
  background-color: #81645a;
}
.color-name11 {
  background-color: #4d436b;
}
.color-name12 {
  background: #f9f4ef;
}
.color-name13 {
  background: #030300;
}
.color-name14 {
  background: #e8ddc1;
}
.color-name15 {
  background: #d0dada;
}
.color-name16 {
  background: #b3a593;
}
.color-name17 {
  background: linear-gradient(#32c7e5, #f078d5);
}
.color-name18 {
  background: linear-gradient(#fb1834, #fb2b90);
}
.color-name19 {
  background: #d6eded;
}
.color-name20 {
  background: #dd7f73;
}
.color-name21 {
  background: #316a74;
}
.color-name22 {
  background: #fafafa;
}
.color-name23 {
  background: #f5f3e8;
}
.color-name24 {
  background: #efc368;
}
.color-name25 {
  background: #258f67;
}
.color-name26 {
  background: #9ebca6;
}
.color-name27 {
  background: #214842;
}
.color-name28 {
  background: #1f2125;
}
.color-name29 {
  background: #a3acff;
}
.color-name30 {
  background: #f1b28e;
}
.color-name31 {
  background: #1b444f;
}
